/* 
- Mobile: 375px
- Desktop: 1440px

- Font size: 15px
*/

:root {
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  /* position: relative; */
}

/* ==================
    GENERAL STYLES
  =================== */

.container {
  padding: 0 2.5rem;
  margin-bottom: 8rem;
}

.grid {
  display: grid;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.subheading {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  color: var(--very-dark-gray);
  text-align: center;
}

/* ==================
    HEADER & NAV
  =================== */

.header {
  position: relative;
  background-image: url(/images/mobile/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60rem;
}

.header-hero {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.logo-link img {
  width: 75%;
}

.main-nav {}

.nav-items {
  display: none;
}

.nav-item {}

.nav-link:link,
.nav-link:visited {
  color: white;
}

.nav-icon {
  width: 3rem;
  color: white;
}

.nav-btn {
  border: none;
  background: none;
}

.open-mobile-menu {}

.close-mobile-menu {
  display: none;
}

/* ==================
    HERO SECTION
  =================== */

.hero-section {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.hero-section>div {
  margin-bottom: 0;

}

.hero-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.1;
  color: white;
  border: 2px solid white;
  padding: 2rem;
}

/* ==================
    ABOUT SECTION
  =================== */

article {
  grid-template-columns: 1fr;
  gap: 3rem;
}

.about-section__img img {
  width: 100%;
}

.about-section__textbox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}

.about-section__text {
  font-size: 1.5rem;
  font-family: 'Alata', sans-serif;
  font-weight: 100;
  color: var(--dark-gray);
  line-height: 1.7;
}

/* ==================
    CREATIONS SECTION
  =================== */

.creations-items {
  margin-top: 3.5rem;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.creation-item-one {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/mobile/image-deep-earth.jpg);
}

.creation-item-two {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/mobile/image-night-arcade.jpg);
}

.creation-item-three {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/mobile/image-soccer-team.jpg);
}

.creation-item-four {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/mobile/image-grid.jpg);
}

.creation-item-five {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/mobile/image-from-above.jpg);
}

.creation-item-six {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/mobile/image-pocket-borealis.jpg);
}

.creation-item-seven {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/mobile/image-curiosity.jpg);
}

.creation-item-eight {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/mobile/image-fisheye.jpg);
}

.creation-item {
  position: relative;
  height: 12rem;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent)
}



.creation-item__title {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 2rem;
}

.creation-btn {
  text-align: center;
  margin-top: 2rem;
}

.creation-btn__link:link,
.creation-btn__link:visited {
  display: inline-block;
  font-family: 'Alata';
  font-size: 1.5rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
  padding: 1rem 4rem;
  border: 2px solid black;
  transition: all .2s ease-out;
}

.creation-btn__link:hover,
.creation-btn__link:active {
  background-color: black;
  color: white;
}

/* ==================
    FOOTER
  =================== */

.footer {
  padding: 5rem;
  background-color: black;
  grid-template-columns: 1fr;
  justify-items: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 4rem 0;
}

.footer-nav-link {
  color: white;
  font-size: 1.5rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer-copyright {
  font-family: 'Alata', sans-serif;
  font-size: 1.5rem;
  color: var(--dark-gray);
  margin-top: 2rem;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1042px) {

  .container {
    padding: 0 15rem;
    margin-bottom: 12rem;
  }

  /* ==================
    HEADER & NAV
  =================== */

  .header {
    background:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 12rem;
    height: 60rem;
  }

  .header-hero {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .logo-link img {
    width: 100%;
  }

  .nav-items {
    display: flex;
    gap: 3rem;
  }

  .nav-link:link,
  .nav-link:visited {
    position: relative;
    color: white;
    font-family: 'Alata', sans-serif;
    font-size: 1.5rem;
  }

  .nav-link:hover::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: white;
  }

  .nav-icon {
    width: 3rem;
    color: white;
  }

  .open-mobile-menu,
  .close-mobile-menu {
    display: none;
  }

  /* ==================
    HERO SECTION
  =================== */

  .hero-section {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .hero-title {
    font-size: 6rem;
    width: 50%;
    padding: 3rem 3.5rem;
    line-height: 1;
  }

  /* ==================
      ABOUT SECTION
    =================== */

  article {
    grid-template-columns: 60% 40%;
    gap: 0;
  }

  .about-section__img img {
    width: 100%;
  }

  .about-section__textbox {
    align-self: end;
    gap: 2rem;
    padding: 6rem 0 0 7rem;
    text-align: left;
    background-color: white;
    margin-left: -30%
  }

  .about-section__textbox .subheading {
    text-align: left;
    font-size: 4rem;
  }

  .about-section__text {
    font-size: 1.5rem;
    font-family: 'Alata', sans-serif;
    font-weight: 100;
    color: var(--dark-gray);
    line-height: 1.7;
  }

  /* ==================
    CREATIONS SECTION
  =================== */

  .creations-items {
    /* margin-top: 3.5rem; */
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    gap: 3rem;
  }

  .creation-item-one {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/desktop/image-deep-earth.jpg);
  }

  .creation-item-two {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/desktop/image-night-arcade.jpg);
  }

  .creation-item-three {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/desktop/image-soccer-team.jpg);
  }

  .creation-item-four {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/desktop/image-grid.jpg);
  }

  .creation-item-five {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/desktop/image-from-above.jpg);
  }

  .creation-item-six {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/desktop/image-pocket-borealis.jpg);
  }

  .creation-item-seven {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/desktop/image-curiosity.jpg);
  }

  .creation-item-eight {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/images/desktop/image-fisheye.jpg);
  }

  .creation-item {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    transition: .2s;
  }

  .creation-item:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255);
    opacity: .7;
    transition: all .2s ease-in-out;
  }

  .creation-item:hover .creation-item__title {
    color: black;
    z-index: 1;
  }

  .creation-item__title {
    padding: 3rem;
  }

  .creations-items .subheading {
    grid-column: span 2;
    justify-self: start;
    align-self: center;
    margin-bottom: 4rem;
    font-size: 4rem;
  }

  .creation-btn {
    text-align: center;
    margin-top: 0;
    grid-row: 1;
    grid-column: 3 / -1;
    align-self: start;
    justify-self: end;
  }

  .creation-btn__link:link,
  .creation-btn__link:visited {
    font-size: 1rem;
    padding: 1rem 3rem;
  }

  /* ==================
    FOOTER
  =================== */

  .footer {
    padding: 3rem 15rem;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    justify-items: left;
  }

  .footer .logo-link {
    text-align: left;
  }

  .footer .logo-link img {
    width: 50%;
  }

  footer nav {
    grid-row: 2 / 3;
    grid-column: 1;
  }

  .footer-nav {
    flex-direction: row;
    gap: 2rem;
    margin: 0;
  }

  .footer-nav-link {
    position: relative;
  }

  .footer-nav-link:hover::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: white;
  }

  .social-links {
    grid-column: 2;
    justify-self: end;

  }

  .footer-copyright {
    justify-self: end;
    margin: 0;
  }
}